.button {
    -fx-background-radius: 250em;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
    -fx-background-color: #ff8000;
    -fx-text-fill: #1d1d1d;

    -fx-border-color: #7c0f0f;
    -fx-border-width: 10px;
    -fx-border-radius: 250em;
}

.button:hover {
    -fx-background-color: derive(#ff8000, -20%);
    -fx-border-color: derive(#7c0f0f, -20%);
}

.text-area {
    -fx-background-color: #c47b41;
    -fx-font-size: 30px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-border-color: #7c0f0f;
    -fx-border-width: 2px;
    -fx-font-family: "Cherry Bomb One";
}

.descripcion {
    -fx-font-size: 20px;
}

.text-area .content {
    -fx-background-color: #ff9446;
    -fx-text-fill: #000000;
}

.ine {
    -fx-background-color: #c47b41;
    -fx-text-fill: #000000;
    -fx-border-color: #7c0f0f;
    -fx-border-width: 3px;
}

.nombrePer {
    -fx-font-family: "Finger Paint";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-size: 35px;
}