.chat{
    -fx-border-color: #000000;
    -fx-border-width: 7px;
    -fx-opacity: 70%;
    -background-color: #dcd2d2;
}

.chat:hover{
    -fx-opacity: 100%;
}

.grid-pane {
    -fx-hgap: 2;
    -fx-vgap: 2;
    -fx-background-color: #c79b70;
    -fx-border-color: #000000;
    -fx-border-width: 5;
}

.button{
    -fx-background-color: #c1e7f6;
    -fx-border-color: #67675b;
    -fx-text-fill: #050000;
    -fx-background-radius: 250px;
    -fx-border-width: 3px;
    -fx-border-radius: 250px;
    -fx-border-color: #67675b;
}

.button:hover{
    -fx-background-color: #7caabb;
}

.labelTitulo {
    -fx-font-family: "Permanent Marker";
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff8b00;
    -fx-effect: dropshadow(gaussian, rgba(49, 152, 238, 0.6), 8, 0.5, 4, 4);
}

.preguntasPane {
    -fx-background-color: #c79b70;
    -fx-background-radius: 100px;
    -fx-border-width: 3px;
    -fx-border-radius: 100px;
    -fx-border-color: #482f17;
}

.labelTiempo {
    -fx-font-size: 28px;
    -fx-font-family: "Cherry Bomb One";
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.btnRespuestaNo {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: #f11818;
    -fx-border-color: #000000;
    -fx-font-family: "Cherry Bomb One";
    -fx-font-size: 35px;
    -fx-text-fill: #ffffff;
}

.btnRespuestaNo:hover {
    -fx-background-color: #b91313;
    -fx-font-family: "Permanent Marker";
}

.btnRespuestaSi {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: #45d32f;
    -fx-border-color: #000000;
    -fx-font-family: "Cherry Bomb One";
    -fx-font-size: 35px;
    -fx-text-fill: #ffffff;
}

.btnRespuestaSi:hover {
    -fx-background-color: #37a426;
    -fx-font-family: "Permanent Marker";
}

.label {
    -fx-font-family: "Cherry Bomb One";
    -fx-font-size: 35px;
    -fx-text-fill: #000000;
}

.labelPregunta {
    -fx-font-size: 40px;
    -fx-font-family: "Finger Paint";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.listView {
    -fx-font-family: "Cherry Bomb One";
    -fx-font-size: 24px;
}

.labelSelecPregunta {
    -fx-font-size: 30px;
}