.chat{
    -fx-border-color: #000000;
    -fx-border-width: 7px;
    -fx-opacity: 70%;
    -background-color: #dcd2d2;
}

.chat:hover{
    -fx-opacity: 100%;
}

.grid-pane {
    -fx-hgap: 2;
    -fx-vgap: 2;
    -fx-background-color: #c79b70;
    -fx-border-color: #000000;
    -fx-border-width: 5;
}

.button{
    -fx-background-color: #f5f5dc;
    -fx-border-color: #67675b;
    -fx-text-fill: #050000;
    -fx-background-radius: 250px;
    -fx-border-width: 3px;
    -fx-border-radius: 250px;
    -fx-border-color: #67675b;
}

.label{
    -fx-font-family: Arial;
    -fx-font-size: 30px;
}

.labelTitulo {
    -fx-font-family: "Permanent Marker";
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff8b00;
    -fx-effect: dropshadow(gaussian, rgba(49, 152, 238, 0.6), 8, 0.5, 4, 4);
}
