.buttonPartidaFin{
    -fx-background-radius: 250em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-color: #595959;
    -fx-text-fill: #ffffff;

    -fx-border-color: #000000;
    -fx-border-width: 10px;
    -fx-border-radius: 250em;
    -fx-font-family: "Arial Black";
    -fx-font-size: 22;
}